.swiper-button-prev{
    color: black;
    display: none;

}
.swiper-button-next{
    color: black;
    display: none;

}
.swiper-pagination-bullet{
    color: black;
}

@media only screen and (min-width: 720px) {
    .swiper-button-prev {
      display: block;
    }
  }

@media only screen and (min-width: 720px) {
    .swiper-button-next {
      display: block;
    }
  }